In [2]:
import pandas as pd

In [3]:
toxicity_debiasing_data = pd.read_csv("toxicity_debiasing_data.tsv", sep='\t')
# review_id, comment, is toxic or not, split (train or test)

toxicity_debiasing_data_random = pd.read_csv("toxicity_debiasing_data_random.tsv", sep = '\t')
# review_id, comment, is toxic or not, split (train or test)

wiki_debias_dev = pd.read_csv("wiki_debias_dev.csv") 
# comment,is_toxic,logged_in,ns,rev_id,sample,split,toxicity,year

wiki_debias_random_dev = pd.read_csv("wiki_debias_random_dev.csv")
# comment,is_toxic,logged_in,ns,rev_id,sample,split,toxicity,year

wiki_debias_random_test = pd.read_csv("wiki_debias_random_test.csv")
# comment,is_toxic,logged_in,ns,rev_id,sample,split,toxicity,year

In [7]:
toxicity_debiasing_data.shape#.head

(5775, 4)

In [5]:
toxicity_debiasing_data_random.shape

(5775, 4)

In [8]:
wiki_debias_dev.shape

(33283, 9)

In [9]:
wiki_debias_random_dev.shape

(33283, 9)

In [10]:
wiki_debias_random_test.shape

(33021, 9)

In [18]:
sum(toxicity_debiasing_data['split'] == "test")/sum(toxicity_debiasing_data['split'] == "train")

0.3333333333333333

In [24]:
toxicity_annotated_comments = pd.read_csv("/Users/yujingke/Documents/2018Fall/590Privacy/unintended-ml-bias-analysis-master/data/wiki_talk_labels_toxicity_dataset/toxicity_annotated_comments.tsv"\
                                          , sep = "\t")

In [42]:
# toxicity_annotated_comments.head

In [26]:
toxicity_annotations = pd.read_csv("/Users/yujingke/Documents/2018Fall/590Privacy/unintended-ml-bias-analysis-master/data/wiki_talk_labels_toxicity_dataset/toxicity_annotations.tsv"\
                                          , sep = "\t")

In [36]:
toxicity_annotations.head()

   rev_id  worker_id  toxicity  toxicity_score
0  2232.0        723         0             0.0
1  2232.0       4000         0             0.0
2  2232.0       3989         0             1.0
3  2232.0       3341         0             0.0
4  2232.0       1574         0             1.0

In [28]:
toxicity_worker_demographics = pd.read_csv("/Users/yujingke/Documents/2018Fall/590Privacy/unintended-ml-bias-analysis-master/data/wiki_talk_labels_toxicity_dataset/toxicity_worker_demographics.tsv"\
                                          , sep = "\t")

In [41]:
# toxicity_worker_demographics.head

This data set (https://figshare.com/articles/Wikipedia_Talk_Labels_Toxicity/4563973) includes over 100k labeled discussion comments from English Wikipedia. Each comment was labeled by multiple annotators via Crowdflower on whether it is a toxic or healthy contribution. We also include some demographic data for each crowd-worker. See our wiki for documentation of the schema of each file and our research paper for documentation on the data collection and modeling methodology. For a quick demo of how to use the data for model building and analysis, check out this ipython notebook.

In [40]:
# wiki_debias_dev["ns"]

In [39]:
# wiki_debias_dev["sample"]

In [67]:
grouped_tox = toxicity_annotations.groupby(['rev_id']).mean()
joined_tox = grouped_tox.leftjoin(toxicity_annotated_comments, lsuffix='rev_id', rsuffix='rev_id') 
# toxicity_annotations toxicity_annotated_comments

In [68]:
joined_tox.head()

,worker_id,toxicity,toxicity_score,rev_id,comment,year,logged_in,ns,sample,split
rev_id,,,,,,,,,,
2232.0,2101.2,0.1,0.4,12807059.0,I THINK COOLCAT IS COOL BUT COOLCAT HAS NO KNO...,2005.0,False,article,blocked,train
4216.0,682.8,0.0,0.5,20100065.0,Welcome!NEWLINE_TOKENNEWLINE_TOKENWelcome to W...,2005.0,True,user,random,train
8953.0,2223.3,0.0,0.1,34640068.0,NEWLINE_TOKENNEWLINE_TOKEN==In the future==NEW...,2006.0,False,user,blocked,dev
26547.0,2617.4,0.0,0.6,80651148.0,"NEWLINE_TOKEN:::Oh, man, you really got on tha...",2006.0,True,article,blocked,test
28959.0,2891.8,0.2,0.2,88102263.0,Thank you for experimenting with Wikipedia. Y...,2006.0,True,user,random,train

In [46]:
grouped_tox = toxicity_annotations.groupby(['rev_id']).mean()

In [66]:
toxicity_annotated_comments.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,2232.0,This:NEWLINE_TOKEN:One can make an analogy in ...,2002,True,article,random,train
1,4216.0,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,2002,True,user,random,train
2,8953.0,Elected or Electoral? JHK,2002,False,article,random,test
3,26547.0,`This is such a fun entry. DevotchkaNEWLINE_...,2002,True,article,random,train
4,28959.0,Please relate the ozone hole to increases in c...,2002,True,article,random,test

In [65]:
grouped_tox.head()

         worker_id  toxicity  toxicity_score
rev_id
2232.0      2101.2       0.1             0.4
4216.0       682.8       0.0             0.5
8953.0      2223.3       0.0             0.1
26547.0     2617.4       0.0             0.6
28959.0     2891.8       0.2             0.2