Note: Much of this code was lifted from [the Conversation AI project](https://conversationai.github.io/).

In [1]:
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
import model_bias_analysis

"This data set (https://figshare.com/articles/Wikipedia_Talk_Labels_Toxicity/4563973) includes over 100k labeled discussion comments from English Wikipedia. Each comment was labeled by multiple annotators via Crowdflower on whether it is a toxic or healthy contribution. We also include some demographic data for each crowd-worker. See our wiki for documentation of the schema of each file and our research paper for documentation on the data collection and modeling methodology. For a quick demo of how to use the data for model building and analysis, check out this ipython notebook." - quote from linked page

In [2]:
comments = pd.read_csv("toxicity_annotated_comments.tsv"\
                                          , sep = "\t")

Copied from documentation: <br>
"Schema for {attack/aggression/toxicity}_annotated_comments.tsv
The comment text and metadata for comments with attack/aggression/toxicity labels generated by crowd-workers. The actual labels are in the corresponding {attack/aggression/toxicity}_annotations.tsv since each comment was labeled multiple times.

rev_id: MediaWiki revision id of the edit that added the comment to a talk page (i.e. discussion). <br>
comment: Comment text. Consists of the concatenation of content added during a revision/edit of a talk page. MediaWiki markup and HTML have been stripped out. To simplify tsv parsing, \n has been mapped to NEWLINE_TOKEN, \t has been mapped to TAB_TOKEN and " has been mapped to `. <br>
year: The year the comment was posted in. <br>
logged_in: Indicator for whether the user who made the comment was logged in. Takes on values in {0, 1}. <br>
ns: Namespace of the discussion page the comment was made in. Takes on values in {user, article}. <br>
sample: Indicates whether the comment came via random sampling of all comments, or whether it came from random sampling of the 5 comments around a block event for violating WP:npa or WP:HA. Takes on values in {random, blocked}. <br>
split: For model building in our paper we split comments into train, dev and test sets. Takes on values in {train, dev, test}."
<br>

My notes: <br> 
I don't know enough about how natural language processing works, but from the snippets that I do know, I imagine that the really really long comments probably aren't very good at being classified even. I also wonder about how bigram toxicity works and whether this is something the training data accounts for (eg "nasty woman" vs "nasty" has different sources of problems). What are they classifying on/why does this work? We can see Figure 1 in the Dixon paper for comment length and should be able to filter there. I wonder if the phrase templating of classification works for the problems that I raise of large comment length and bigrams. Is this an issue we should be dealing with?
Also, an easier couple of questions are: what does the ns and sample really mean?

In [3]:
comments.head()

,rev_id,comment,year,logged_in,ns,sample,split
0,2232.0,This:NEWLINE_TOKEN:One can make an analogy in ...,2002,True,article,random,train
1,4216.0,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,2002,True,user,random,train
2,8953.0,Elected or Electoral? JHK,2002,False,article,random,test
3,26547.0,`This is such a fun entry. DevotchkaNEWLINE_...,2002,True,article,random,train
4,28959.0,Please relate the ozone hole to increases in c...,2002,True,article,random,test

In [4]:
annotations = pd.read_csv("toxicity_annotations.tsv"\
                                          , sep = "\t")

Copied from documentation:
        Schema for toxicity_annotations.tsv
    Toxicity labels from several crowd-workers for each comment in toxicity_annotated_comments.tsv. It can be joined with toxicity_annotated_comments.tsv on rev_id.

rev_id: MediaWiki revision id of the edit that added the comment to a talk page (i.e. discussion). <br>
worker_id: Anonymized crowd-worker id.<br>
toxicity_score: Categorical variable ranging from very toxic (-2), to neutral (0), to very healthy (2). <br>
toxicity: Indicator variable for whether the worker thought the comment is toxic. The annotation takes on the value 1 if the worker considered the comment toxic (i.e worker gave a toxicity_score less than 0) and value 0 if the worker considered the comment neutral or healthy (i.e worker gave a toxicity_score greater or equal to 0). Takes on values in {0, 1}.

My notes:
Things to explore is how many people rated each thing? The paper said 10, but I would like to confirm this.

In [5]:
annotations.head()

   rev_id  worker_id  toxicity  toxicity_score
0  2232.0        723         0             0.0
1  2232.0       4000         0             0.0
2  2232.0       3989         0             1.0
3  2232.0       3341         0             0.0
4  2232.0       1574         0             1.0

In [6]:
toxicity_worker_demographics = pd.read_csv("toxicity_worker_demographics.tsv"\
                                          , sep = "\t")

My comment:
    This isn't really one we'll be using until much later, if/when we decide we're doing a perturbation using demographic data. Would first want to check to see what kind of correlations might/do exist between gender/rating and see how they rate comments about women, for example.
    

Copied from documentation:

Schema for {attack/aggression/toxicity}_worker_demographics.tsv
Demographic information about the crowdworkers. This information was obtained by an optional demographic survey administered after the labelling task. It is meant to be joined with {attack/aggression/toxicity}_annotations.tsv on worker_id. Some fields may be blank if left unanswered.

worker_id: Anonymized crowd-worker id. <br>
gender: The gender of the crowd-worker. Takes a value in {'male', 'female', and 'other'}. <br>
english_first_language: Does the crowd-worker describe English as their first language. Takes a value in {0, 1}.<br>
age_group: The age group of the crowd-worker. Takes on values in {'Under 18', '18-30', '30-45', '45-60', 'Over 60'}.<br>
education: The highest education level obtained by the crowd-worker. Takes on values in {'none', 'some', 'hs', 'bachelors', 'masters', 'doctorate', 'professional'}. Here 'none' means no schooling, some means 'some schooling', 'hs' means high school completion, and the remaining terms indicate completion of the corresponding degree type.

In [7]:
# I want to find the standard deviation of toxicity_score 
grouped_by_var = annotations.groupby('rev_id', as_index=False)['toxicity_score'].var()
#grouped_by_std = annotations.groupby('rev_id')['toxicity_score'].agg(np.std)

In [8]:
grouped_by_var.head()

    rev_id  toxicity_score
0   2232.0        0.488889
1   4216.0        0.500000
2   8953.0        0.100000
3  26547.0        0.711111
4  28959.0        0.622222

In [36]:
grouped_by_var.sort_values('toxicity_score', ascending=False)

             rev_id  toxicity_score
37798   118392466.0        2.400000
154275  665625373.0        2.233333
19786    62731052.0        2.233333
70533   233862894.0        2.100000
40972   130530370.0        2.100000
129637  516428117.0        2.055556
77637   263059564.0        2.011111
109109  404281714.0        2.000000
2726     15208942.0        2.000000
40367   128167975.0        1.955556
2349     13330639.0        1.955556
135327  554590573.0        1.955556
66771   220275361.0        1.955556
52904   175218782.0        1.955556
79020   268533561.0        1.955556
147801  626136966.0        1.955556
137487  566811258.0        1.877778
48783   159798299.0        1.877778
49003   160622441.0        1.877778
6255     26812779.0        1.877778
70169   232422019.0        1.877778
52938   175370883.0        1.877778
112911  423658625.0        1.877778
136542  561514072.0        1.877778
83212   285259047.0        1.833333
146804  619846844.0        1.833333
121048  467140457.0        1.833333
71344   236888382.0        1.833333
62932   206738896.0        1.822222
87817   306219899.0        1.822222
...             ...             ...
67953   224571539.0        0.000000
134898  552060968.0        0.000000
157046  682434625.0        0.000000
109371  405873991.0        0.000000
39107   123241121.0        0.000000
134797  551491832.0        0.000000
125450  492476724.0        0.000000
125430  492390429.0        0.000000
134810  551557714.0        0.000000
109467  406411914.0        0.000000
68017   224822497.0        0.000000
10261    38084645.0        0.000000
47217   153464420.0        0.000000
21073    65641019.0        0.000000
3451     18274620.0        0.000000
30192    91987547.0        0.000000
3454     18280118.0        0.000000
68010   224809516.0        0.000000
88564   308797949.0        0.000000
81871   279753722.0        0.000000
45173   146003291.0        0.000000
52977   175520653.0        0.000000
88570   308817501.0        0.000000
134849  551834982.0        0.000000
109403  406123938.0        0.000000
109394  406039147.0        0.000000
30177    91944164.0        0.000000
134884  551991913.0        0.000000
39133   123322848.0        0.000000
65468   215511374.0        0.000000

[159686 rows x 2 columns]

In [10]:
#  Stuff I tried that didn't work and I might want later

# This code is copy/pasted from https://github.com/conversationai/unintended-ml-bias-analysis/blob/master/unintended_ml_bias/Dataset_bias_analysis.ipynb
# grouped_ds = annotations.groupby('rev_id')['toxicity'].mean()
# df = comments
# df['toxic'] = annotations.groupby('rev_id')['toxicity'].mean() # > 0.5

grouped_annotations = annotations.groupby('rev_id',as_index=False)['toxicity'].mean()
joined_tox = grouped_annotations.join(comments, lsuffix='rev_id', rsuffix='rev_id', how='left', sort=True) 
joined_tox['binary_tox'] = np.where(joined_tox['toxicity']>=.5, 1, 0)
# Stuff I might want later

# # remove newline and tab tokens
# comments['comment'] = comments['comment'].apply(lambda x: x.replace("NEWLINE_TOKEN", " "))
# comments['comment'] = comments['comment'].apply(lambda x: x.replace("TAB_TOKEN", " "))
# comments['length'] = comments['comment'].str.len()

In [11]:
grouped_annotations.head()

    rev_id  toxicity
0   2232.0       0.1
1   4216.0       0.0
2   8953.0       0.0
3  26547.0       0.0
4  28959.0       0.2

In [12]:
grouped_annotations

             rev_id  toxicity
0            2232.0  0.100000
1            4216.0  0.000000
2            8953.0  0.000000
3           26547.0  0.000000
4           28959.0  0.200000
5           35367.0  0.100000
6           37330.0  0.300000
7           37346.0  0.100000
8           37675.0  0.200000
9           44377.0  0.000000
10          52473.0  0.000000
11          66667.0  0.000000
12          91460.0  0.100000
13         109914.0  0.100000
14         113226.0  0.000000
15         114890.0  0.100000
16         116583.0  0.000000
17         120509.0  0.000000
18         132491.0  0.100000
19         138074.0  0.000000
20         139768.0  0.000000
21         143728.0  0.000000
22         146770.0  0.000000
23         153941.0  0.000000
24         162213.0  0.000000
25         175279.0  0.000000
26         177450.0  0.000000
27         179630.0  0.000000
28         188130.0  0.000000
29         189361.0  0.000000
...             ...       ...
159656  699685538.0  0.000000
159657  699686307.0  0.000000
159658  699686317.0  0.100000
159659  699688359.0  0.222222
159660  699692272.0  0.000000
159661  699698850.0  0.000000
159662  699702006.0  0.000000
159663  699703322.0  0.300000
159664  699715740.0  0.000000
159665  699717990.0  0.000000
159666  699730832.0  0.000000
159667  699741197.0  0.100000
159668  699753082.0  0.100000
159669  699755057.0  0.000000
159670  699756053.0  0.100000
159671  699756185.0  0.000000
159672  699760682.0  0.400000
159673  699763518.0  0.000000
159674  699780538.0  0.000000
159675  699803377.0  0.000000
159676  699813325.0  0.200000
159677  699820699.0  0.000000
159678  699822249.0  0.200000
159679  699826615.0  0.000000
159680  699843603.0  0.000000
159681  699848324.0  0.000000
159682  699851288.0  0.000000
159683  699857133.0  0.000000
159684  699891012.0  0.400000
159685  699897151.0  0.000000

[159686 rows x 2 columns]

In [13]:
joined_tox.head()

,rev_idrev_id,toxicity,rev_idrev_id,comment,year,logged_in,ns,sample,split,binary_tox
0,2232.0,0.1,2232.0,This:NEWLINE_TOKEN:One can make an analogy in ...,2002,True,article,random,train,0
1,4216.0,0.0,4216.0,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,2002,True,user,random,train,0
2,8953.0,0.0,8953.0,Elected or Electoral? JHK,2002,False,article,random,test,0
3,26547.0,0.0,26547.0,`This is such a fun entry. DevotchkaNEWLINE_...,2002,True,article,random,train,0
4,28959.0,0.2,28959.0,Please relate the ozone hole to increases in c...,2002,True,article,random,test,0

In [14]:
joined_tox['toxicity'].describe()

count    159686.000000
mean          0.145049
std           0.253866
min           0.000000
25%           0.000000
50%           0.000000
75%           0.200000
max           1.000000
Name: toxicity, dtype: float64

In [15]:
joined_tox['binary_tox'].value_counts()

0    141289
1     18397
Name: binary_tox, dtype: int64

In [16]:
test_comments = joined_tox.query("split == 'test' ")
train_comments = joined_tox.query("split == 'train' ")

clf = Pipeline([
    ('vect', CountVectorizer(max_features = 10000, ngram_range = (1,2))),
    ('tfidf', TfidfTransformer(norm = 'l2')),
    ('clf', LogisticRegression()),
])

clf = clf.fit(train_comments['comment'], train_comments['binary_tox'])
auc = roc_auc_score(test_comments['binary_tox'], clf.predict_proba(test_comments['comment'])[:, 1])
print('Test ROC AUC: %.3f' %auc)

Test ROC AUC: 0.951

In [17]:
test_comments["predicted"] = clf.predict(test_comments['comment'])

C:\Users\Neha\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [18]:
# An example of a comment predicted to be toxic.
test_comments[test_comments['predicted'] == 1]['comment'][1649]#['comment']#.value_counts()

"Wait a minute.  I looked at your background and I see that you are French.  I sorry.  What's it like living in a former world power that is nothing but an impotent, second-rate country with an inferiority complex???  Wait don't tell me, from your comment I already know.  It tees you off that no one and I mean no one pays any damn attention to you any more, so much so that you have to buy Saddam's oil off of the black market and invade third world countries like the Ivory Coast and then lecture Americans.  But Americans do care!!!!  We just laugh at you.  Have Frog Day!!! NEWLINE_TOKENNEWLINE_TOKEN"

In [19]:
test_comments[test_comments['predicted'] == 1].head()

,rev_idrev_id,toxicity,rev_idrev_id,comment,year,logged_in,ns,sample,split,binary_tox,predicted
829,5815399.0,0.7,5815399.0,NEWLINE_TOKENNEWLINE_TOKENIt was anonymous on ...,2004,True,article,random,test,1,1
1227,8357736.0,0.3,8357736.0,NEWLINE_TOKENNEWLINE_TOKENYou are a child.,2004,True,user,blocked,test,0,1
1228,8359431.0,0.5,8359431.0,`NEWLINE_TOKENNEWLINE_TOKEN::You are not worth...,2004,True,user,blocked,test,1,1
1348,8845700.0,1.0,8845700.0,NEWLINE_TOKENNEWLINE_TOKENi am using the sandb...,2004,False,user,blocked,test,1,1
1521,9664203.0,0.8,9664203.0,NEWLINE_TOKENNEWLINE_TOKEN== whoa ==NEWLINE_TO...,2005,False,user,blocked,test,1,1

In [20]:
print(clf.predict(['Thanks for you contribution, you did a great job!']))
# Model labels this comment as non-toxic.

[0]

In [21]:
print(clf.predict(['People as stupid as you should not edit Wikipedia!']))
# Model labels this comment as toxic.

[1]

In [22]:
print(clf.predict(['I am a proud gay']))
# Model also labels this comment as toxic. Uh-oh! We don't think this comment should be toxic!

[1]

In [23]:
TEST_TERMS = ['tall', 'wikipedia', 'teacher', 'music', 'box',
              'lesbian', 'gay', 'bisexual', 'transgender', 'queer',
              'homosexual', 'heterosexual', 'straight',
              'muslim', 'jewish', 'jew', 'christian',
              'feminist', 'black', 'white']

In [24]:
madlibs_terms = model_bias_analysis.read_identity_terms('adjectives_people.txt')

In [25]:
model_bias_analysis.add_subgroup_columns_from_text(train_comments, 'comment', madlibs_terms)

C:\Users\Neha\Documents\GitHub\cs590_privacy_fairness\model_bias_analysis.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[term] = df[text_column].apply(lambda x: bool(re.search(r'\b{}\b'.format(term), x, flags=re.IGNORECASE)))

In [26]:
model_bias_analysis.add_subgroup_columns_from_text(test_comments, 'comment', madlibs_terms)

C:\Users\Neha\Documents\GitHub\cs590_privacy_fairness\model_bias_analysis.py:78: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[term] = df[text_column].apply(lambda x: bool(re.search(r'\b{}\b'.format(term), x, flags=re.IGNORECASE)))

In [27]:
train_comments.head()

,rev_idrev_id,toxicity,rev_idrev_id,comment,year,logged_in,ns,sample,split,binary_tox,...,older,young,younger,teenage,millenial,middle aged,elderly,blind,deaf,paralyzed
0,2232.0,0.1,2232.0,This:NEWLINE_TOKEN:One can make an analogy in ...,2002,True,article,random,train,0,...,False,False,False,False,False,False,False,False,False,False
1,4216.0,0.0,4216.0,`NEWLINE_TOKENNEWLINE_TOKEN:Clarification for ...,2002,True,user,random,train,0,...,False,False,False,False,False,False,False,False,False,False
3,26547.0,0.0,26547.0,`This is such a fun entry. DevotchkaNEWLINE_...,2002,True,article,random,train,0,...,False,False,False,False,False,False,False,False,False,False
6,37330.0,0.3,37330.0,`NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENI fixe...,2002,True,article,random,train,0,...,False,False,False,False,False,False,False,False,False,False
7,37346.0,0.1,37346.0,`If they are ``indisputable`` then why does th...,2002,True,article,random,train,0,...,False,False,False,False,False,False,False,False,False,False

In [28]:
test_comments.head()

,rev_idrev_id,toxicity,rev_idrev_id,comment,year,logged_in,ns,sample,split,binary_tox,...,older,young,younger,teenage,millenial,middle aged,elderly,blind,deaf,paralyzed
2,8953.0,0.0,8953.0,Elected or Electoral? JHK,2002,False,article,random,test,0,...,False,False,False,False,False,False,False,False,False,False
4,28959.0,0.2,28959.0,Please relate the ozone hole to increases in c...,2002,True,article,random,test,0,...,False,False,False,False,False,False,False,False,False,False
19,138074.0,0.0,138074.0,`NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKENNEWLIN...,2002,True,article,random,test,0,...,False,False,False,False,False,False,False,False,False,False
33,200664.0,0.0,200664.0,NEWLINE_TOKENNEWLINE_TOKENNEWLINE_TOKEN NEWLIN...,2002,True,user,random,test,0,...,False,False,False,False,False,False,False,False,False,False
37,213105.0,0.0,213105.0,`NEWLINE_TOKENNEWLINE_TOKEN: I should do that ...,2002,True,user,random,test,0,...,False,False,False,False,False,False,False,False,False,False

In [29]:
#  numerator train
train_comments[train_comments['lesbian'] == True].shape[0]

38

In [30]:
# training data comments containing 'lesbian' AND that are toxic
# denominator train
train_comments[(train_comments['lesbian'] == True) & (train_comments['binary_tox'] == 1)].shape[0]

15

In [31]:
# We now calculate the DI for each pair for the training data.

term_toxicity = np.zeros(len(madlibs_terms))

# we temporarily put -1 in as a placeholder for stuff that has no exacmples of terms with that term.
# non-binary is one
for i in range(len(madlibs_terms)):
    try:
        term_toxicity[i] = (train_comments[(train_comments[madlibs_terms[i]] == True) & (train_comments['binary_tox'] == 1)].shape[0])/  \
        (train_comments[train_comments[madlibs_terms[i]] == True].shape[0])
    except ZeroDivisionError:
        term_toxicity[i] = -1 
        
print(term_toxicity)

[ 0.39473684  0.62544803  0.07692308  0.26315789  0.0952381   0.74509804
  0.07017544  1.          0.46774194  0.13702624  0.15789474  0.17073171
  0.15577889 -1.          0.08474576  0.16326531  0.18042813  0.15853659
  0.09090909  0.10416667  0.11111111  0.2        -1.          0.2739726
  0.06944444  0.09857978  0.12        0.11444142  0.09090909  0.12058824
  0.07216495  0.09190372  0.13057325  0.11860465  0.02173913  0.08906883
  0.03846154  0.11111111 -1.          0.12916667  0.0472103   0.09433962
  0.03529412  0.125       0.         -1.          0.          0.19496855
  0.08       -1.        ]

In [32]:
print(term_toxicity[46])

0.0

In [33]:
max_prop = 0
top_indexes = ()
# Do we want the 0s? That would mean they are never used in a toxic way but can't divide by 0...
# Also, how often do terms appear? Is sample size crazy small right now?? 

for i in range(len(madlibs_terms)):
    for j in range(len(madlibs_terms)):
        if (i==j or term_toxicity[i] == -1 or term_toxicity[j] == -1 or term_toxicity[j] == 0):
            continue
        if term_toxicity[i]/ term_toxicity[j] > max_prop:
            max_prop = term_toxicity[i]/ term_toxicity[j]
            top_indexes = (i,j)
print(max_prop, top_indexes)
print(madlibs_terms[7], madlibs_terms[34])

46.0 (7, 34)
lgbtq buddhist

In [34]:
# numerator test
test_comments[test_comments['lesbian'] == True].shape[0]

18

In [35]:
# test data comments containing 'lesbian' AND that are toxic
# denominator test
test_comments[(test_comments['lesbian'] == True) & (test_comments['predicted'] == 1)].shape[0]

4